#rectangle{
    height: 300px;
    width: 100px;
    background-color: black;
    border: 2px;
}
#red{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px;
    border-radius: 50%;
}
#yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px;
    border-radius: 50%;
}
#green{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px;
    border-radius: 50%;
}