body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 150px;
  height: 150px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.box:hover {
  transform: translateX(40px) rotate(30deg) scale(1.2);
}
