body{
    margin: 0px;
}
.margins{
    border: 5px, solid, black;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}
#box1{
    background-color: red;
}
#box2{
    background-color: blue;
}